<nav id="navbar">
  <h3>LiverpoolFC Videos</h3>
  <h6>A web scraper to video content posted to reddit.com/r/LiverpoolFC</h6>

</nav>

<div class="container">
  <div class="col-md-12">

    <div id="scraper-box">
      <button class="btn" id="scraper-btn">
        Check for video content!
      </button>
    </div>

    {{#each video}}
    <div class="card">
      <div class="card-body bg-secondary text-white ">
        <h4 class="card-title">{{this.title}}</h4>
        <a href="https://www.reddit.com{{this.link}}" class="card-link" target="_blank">{{this.link}}</a>
        <a href="#" class="comments">Comments</a>
      </div>
    </div>
    {{/each}}

  </div>

</div>