body{
  background-image: url("../img/lfc-tile-md-40.png");
  background-repeat: repeat;
}

#navbar{
  background-color: #850000;
  border-bottom: 5px solid #000000;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.card{
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #000000
}

.card-link, .comments{
  text-decoration: none;
  color: #ffffff
}

.comments{
  float: right;
}

#scraper-btn{
  margin: 20px 0px;
  font-size: 20px;
  padding: 5px 100px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #bd2626;
  color: #ffffff;
}

#scraper-box{
  display: flex;
  align-items: center;
  justify-content: center;
}